
.quem-somos{
    color: lightseagreen;
    background-image: url(../Bootstrap/imagens/roadLights.jpg);
    background-size: 720px 1080px;
    }
h5{
color: black;
}

  
    h3{
    color: white;
    }
                    
.labelSide{
    color: black;
    
    }
    .contatosSide{
        position: absolute;
        left: 65px;
        top: 55px;
        margin: 10px;
        font-size: 22px;
        color: black;
        }

        #parceiros{
            color: white;
            background-color: red;
            }

            .collapse{
                margin: 2px;
                }

                #imgSideBar{
                    width: 25px;
                    height: 25px; 
                    }  

                    .navbarMenu{
                        background-image: url(../Bootstrap/imagens/cidadeFosco.jpg);
                        background-position-y: 60%;
                        background-size: 100%,100px;
                        z-index: 3;
                       
                        }  
                        

                        .logoNav1{
                            border-radius: 20px;
                            border: 1px black;
                            }

                            .btn{
                                width: 13vw;
                                height: 4vw;
                                color: white;
                                font-size: 2vw;
                                z-index: 2;
                                }

                                .margin{
                                    padding-top: 40px;
                                    padding-bottom: 50px;
                                    }


body{
background-color:black;
font:20px arial,serial-serif;
}





